<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>Help Desk</mat-card-title>
     <mat-card-subtitle>Axios Tecnologia</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
   <mat-card-content>
     <p>
      Olá! Seja bem vindo ao sistema Help Desk Axios Tecnologia.<br />
      Esse é um sistema para gerenciamento de chamados Help Desk. <br />O sistema está em pleno desenvolvimento.
      <br /><br /> Fique a vontade para utilizar o sistema e deixar sua sugestão.
      <br /> At.te: Johnny Luiz Cristovan - Axios Tecnologia
     </p>
   </mat-card-content>
 </mat-card>